<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Free Steam Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
<link href="css/calendar-eightysix-default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/calendar-eightysix-osx-dashboard.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/calendar-eightysix-vista.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/mootools-1.2.4-core.js"></script>
<script type="text/javascript" src="js/mootools-1.2.4.2-more.js"></script>
<script type="text/javascript" src="js/calendar-eightysix-v1.0.1.js"></script>
<script type="text/javascript">
		window.addEvent('domready', function() {
			new CalendarEightysix('exampleI', 	 { 'offsetY': -4 });
			new CalendarEightysix('exampleII', 	 { 'startMonday': true, 'format': '%m.%d.%Y', 'slideTransition': Fx.Transitions.Back.easeOut, 'draggable': true, 'offsetY': -4 });
	});	
</script>

</head>
<body>
  <div class="header-top">
	<div class="wrap">
        <div class="logo">
			<a href="index.html"><img src="images/addis_event_logo.png" alt=""/></a>
		</div>
		<div class="cssmenu">
		  <nav id="nav" role="navigation">
			<a href="#nav" title="Show navigation">Show navigation</a>
			<a href="#" title="Hide navigation">Hide navigation</a>
			<ul class="clearfix">
				<li class="active"><a href="index.html">Home</a></li>
				<li><a href="start.html"><span>Favorites</span></a></li>
				<li><a href="work.html"><span>Browse Events</span></a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="support.html">Support</a></li>
				<div class="clear"></div>
			</ul>
		    </nav>
		  </div>
		  <div class="buttons">
				<div class="login_btn">
					<a href="login.html">Login / Signup</a>
				</div>
			
				<div class="clear"></div>
		   </div>
	     <div class="clear"></div>
		<h2 class="head">Find the <span class="m_1">next event </span>You'll want <span class="m_1">to attend</span></h2>
     </div>
    </div>
     <div class="map">
     	<img src="images/map.jpg" alt=""/>
     </div>
     <div class="content-box">
     	<div class="wrap">
     		<ul class="events">
				<li class="active"><a href="index.html">Hot Events</a></li> 
				<li><a href="">Trending Events</a></li> 
			</ul>
			<div class="content-box-right">
				<div class="textbox">
					<form>
					   <input type="text" value="Act Big! Ultimate Music Festival" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Act Big! Ultimate Music Festival';}">
				    </form>
				</div>
		        <div class="search_box">
				  <form>
				    <select id="country" name="country" onchange="change_country(this.value)" class="frm-field required">
		            <option value="null">choose artists name: </option>         
		            <option value="MA">mohamud Ahmed</option>
		            <option value="TE">Tsegaye Eshetu</option>
		            <option value="AA">Aster Aweke</option>
		            <option value="MAA">Madingo Afework</option>
		            <option value="TG">Temesgen Gebregziabher</option>
		            <option value="HB">Helen Berhe</option>
		            <option value="AB">Ali Bira</option>
		            <option value="KS">Kuku Sebsbe</option>
		            <option value="R">Rofnan</option>
		            <option value="YN">Yared Negu</option>
		            <option value="TY">Tsehaye Yohanns</option>
		            <option value="AE">Alemayehu Eshete</option>
		            <option value="WM">Wendi Mak</option>
		            <option value="AU">Australia</option>		           

		         </select>		        
			     </form>
			  </div>
			 <div class="reservation">	
			<form>
				<div class="form-text"><input id="exampleI" name="dateI" value="name" type="text" maxlength="10" style="width:80px;"></div>
			    <div class="clear"></div>
			</form>
		   </div>
		</div>
     	   <div class="clear"></div>
     	</div>
     </div>
     <div class="main">
     	<div class="wrap">
     		<div class="section group">
				<div class="col_1_of_3 span_1_of_3">
					<img src="images/pic.jpg" alt=""/>
					<ul class="m_fb">
						<li>
							<span class="m_23"><a href="#"><img src="images/heart.png" alt=""/></a></span>
						     <div class="clear"></div>
						</li>
					</ul>
					  <div class="desc">
						<h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
						<h4 class="m_2">consectetur adipisicing elit, sed do</h4>
						<h5 class="m_3">sed do eiusmod tempor incididunt ut labore</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					   </div>
					  
						<div class="clear"></div>
		    		  </div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<img src="images/pic1.jpg" alt=""/>
					<ul class="m_fb">
						<li>
							<span class="m_23"><a href="#"><img src="images/heart.png" alt=""/></a></span>
						     <div class="clear"></div>
						</li>
					</ul>
					  <div class="desc">
						<h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
						<h4 class="m_2">consectetur adipisicing elit, sed do</h4>
						<h5 class="m_3">sed do eiusmod tempor incididunt ut labore</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					   </div>
					   
						<div class="clear"></div>
		    		  </div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<img src="images/pic2.jpg" alt=""/>
					<ul class="m_fb">
						<li>
							<span class="m_23"><a href="#"><img src="images/heart.png" alt=""/></a></span>
						     <div class="clear"></div>
						</li>
					</ul>
					  <div class="desc">
						<h3><a href="#">Lorem Ipsum is simply dummy</a></h3>
						<h4 class="m_2">consectetur adipisicing elit, sed do</h4>
						<h5 class="m_3">sed do eiusmod tempor incididunt ut labore</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					   </div>
					  
						<div class="clear"></div>
		    		  </div>
				</div>
				<div class="clear"></div>
			</div>
			
		</div>
     </div>
     <div class="footer">
     	<div class="wrap">
     	  <div class="footer-menu">
     		<ul>
				<li class="active"><a href="index.html">Home</a></li> 
				<li><a href="about.html">About us</a></li> 
				<li><a href="work.html">How it works</a></li> 
				<li><a href="industries.html">Industries</a></li> 
				<li><a href="features.html">Features</a></li>
				<li><a href="pricing.html">Pricing</a></li>
				<li><a href="faq.html">Faq's</a></li>
				<li><a href="features.html">Privacy policy</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="work.html">Terms of service</a></li>
				<div class="clear"></div>
			</ul>
     	  </div>
     	  <div class="footer-bottom">
     	  	<div class="copy">
			   </div>
		  
		    <div class="clear"></div>
     	  </div>
       </div>
     </div>
</body>
</html>
